body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
}

.phone{
    border: 3px solid silver;
    border-radius: 25px;
    height: 680px;
    width: 340px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 15px;
    padding-bottom: 30px;
}

.info{
    display: flex;
    color: #ffffff;
    gap: 5px;
    padding: 0 10px;
}

.info > span{
    font-family: 'Work Sans', sans-serif;
}

.info > i:nth-child(2) {
    margin-left: auto;
}

.panel{
    position: absolute;
}

.display{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #ffffff;
    font-size: 75px;
}

.control{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row > button{
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 30px;
}

.row:last-child > button:first-child{
    width: 166.66666px;
    border-radius: 50px;
}

.bg-orange{
    background-color: orange;
    color: white;
}

.bg-gray{
    background-color: #bbbbbb;
    color: black;
}

.bg-dark{
    background-color: #333333;
    color: white;
}

.selected{
    background-color: white;
    color: orange;
}